.App {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 1200px;
    font-weight: bold;
}

.TitleBanner {
    border-top: 2px solid #999;
    border-left: 2px solid #999;
    border-right: 2px solid #999;
    border-bottom: 1px solid #999;
    text-align: center;
    background-color: #A1AFCA;
}

.CIPanel {
    width: 20%;
}

.Panel, .DPanel{
    width: 16%;
}

.Panel, .DPanel, .CIPanel {
    border: 1px solid #999;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-color: #BBE9DB;
}

[highlight="false"] {
    background-color: #A1AFCA;
}

[highlight="true"] {
    background-color: #00CED1;
}

.Grid{
    display: table;
    table-layout: fixed;
    height: 500px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}

.GridTopRow, .GridHueyRow, .GridDueyRow, .GridLueyRow{
    display: table-row;
}

.ToggleButton {
    margin: auto;
    display: block;
    height: 75px;
    font-weight: bold;
}
