.App {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 1000px;
    border: 1px solid #999;
}

.TitleBanner {
    border: 1px solid #999;
    text-align: center;
}

.Panel {
    border: 1px solid #999;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

[highlight="false"] {
    background-color: #F5F5F5;
}

[highlight="true"] {
    background-color: #00CED1;
}

.Grid{
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 500px;
}

.GridTopRow, .GridHueyRow, .GridDueyRow, .GridLueyRow{
    display: table-row;
}
